/* PICS */
body {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  margin: 0;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.content {
  background-color: #e6e6e6;
  padding: 30px;
  width: 950px;
  height: 660px;
  margin: 0 auto;
}
.pics-view {
	margin-top: 40px;
}
.pics-view > div > span {
    display: inline-block;
    min-width: 120px;
    font-weight: bold;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    float: left;
    margin-right: 20px;
    line-height: 2em;
    font-size: 1.1em;
}
.pics-view > div > span .dropdownValue {
    width: 267px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.pics-view > div > span .dropdown ul {
	width: 312px;
	font-weight: normal;
}
.pics-view > div {
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}
#picsPanel .page-container-slide {
  border: 1px solid #cbcbcb;
  background-color: #fff;
  width: 800px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
/* PICS Page 1 */
.left-align {
	float: left;
}
.client-sex-value {
	height: 35px;
	line-height: 35px;
}
input {
  width: 300px;
  padding: 5px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1.1em;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* Error Input */
.error {
	display: inline-block;
    color: #c91D00;
    font-size: 14px;
    margin: 0 0 0 10px;
}
.error-field {
  border: 1px solid #c91d00;
  background-color: #f4d2cc;
}
.client-country-value.error-field .dropdownValue {
  border: 1px solid #c91d00;
  background-color: #f4d2cc;
}
.client-country-value.error-field {
	border: none;
    background-color: transparent;
    margin-right: 0;
}

/* PICS Page 2 */
.pics-address {
	margin-top: 40px;
}
div.pics-checkbox {
    margin-top: 40px;
    margin-bottom: 30px;
}
p.pics-terms-label {
	width: 800px;
	margin: 0;
    text-align: justify;
}
input.checkbox-agree {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;	
}
.button {
  background: #333;
  border: 1px solid #cbcbcb;
  color: #fff;
  padding: 5px 10px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  min-width: 80px;
}

/* Remove footer */
footer.step-view.row {
	display: none;
}