/* ==========================================================================
   BAR GRAPH
   ========================================================================== */

.bargraph-title {
	font-size: 18px;
	font-weight: normal;
	margin: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	text-align: center;
}
.graph-bar {
  position: relative;
  height: 440px;
  width: 75px;
  margin: 25px auto 0;
  background-color: #eaeaea;
}
.graph-bar .item-bargraph {
  position: absolute;
  bottom: 0;
  width: 75px;
  margin-left: -37px;
  left: 50%;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: height 1s, -webkit-transform 1s;
  transition: height 1s, transform 1s;
}
.analysisbargraph-widget .graph-bar .item-bargraph {
	left: 49%;
}
.graph-item {
	position: relative;
}
.graph-item .item-value {
  font-size: 1.5em;
  color: #333333;
  text-align: center;
  margin: 15px 0px;
  position: absolute;
  width: 100%;
  left: 0;
  font-family: 'Frutiger-Roman';
}
.analysisbargraph-widget {
	/* height: 100%; */
	width: 100%;
	position: relative;
} 
.analysisbargraph-widget .shortfall {
	position: relative;
	float: left;
	padding-left: 42px;
	height: 500px
}
.analysisbargraph-widget .tds-view .bargraph-title {
  color: #FF2500;
  font-family: 'Frutiger-Roman';
  font-size: 1.5em;
  text-align: center;
  width: 90px;
  margin: 5px 0 0 0;
  position: relative;
  left: -5px;
  word-wrap: break-word;
}
.analysisbargraph-widget .tds-view .bargraph-title span {
	font-family: 'Frutiger';
  	display: block;
}
.analysisbargraph-widget .tds-view .bargraph-title {
	visibility: hidden;
}
.analysisbargraph-widget .shortfall.tds-view .bargraph-title {
	visibility: visible;
}
.analysisbargraph-widget .graph-bar {
	margin-right: 44px;
  	margin-top: 25px;
  	height: 421px;
} 
.analysisbargraph-widget .graph-bar.mtop50 {
	margin-top: 5px;	
}
.analysisbargraph-widget .target-amt {
	position: relative;
	float: left;
}
.analysisbargraph-widget .component-amt {
	position: absolute;
	float: left;
	z-index: 5;
	right: 26px;
}
.analysisbargraph-widget .component-amt .graph-bar {
	background-color: transparent;
}
.analysisbargraph-widget .component-amt .item-value {
	display: none;
}
.analysisbargraph-widget .item-value {
	margin: 15px 0 0 0;
	font-family: 'Frutiger-Roman';
	font-size: 1.5em;
	text-align: center;
	position: relative;
	left: -22px;
	width: 120px;
	word-break: break-word;
}
.analysisbargraph-widget .item-value .label {
	font-family: 'Frutiger';
}
.analysisbargraph-widget .analysis-value {
	color: #FF2500;
	font-family: 'Frutiger-Roman';
	font-size: 1.5em;
	text-align: center;
	position: relative;
	left: -23px;
	width: 120px;
	word-wrap: break-word;
}
.analysisbargraph-widget .analysis-value span {
	font-family: 'Frutiger';
	display: block;
}
/* .small-shortfall .analysis-value:before {
	content: '';
	position: absolute;
	width: 34px;
	height: 47px;
	background: url(../images/short-fall-arrow.png) no-repeat;
	left: -7px;
	z-index: 10;
	bottom: -28px;
	border: none;
} */
.small-shortfall .analysis-value {
	top: -40px;
  	position: absolute;
  	text-align: left;
  	width: 237px;
  	padding-left: 23px;
}
.small-shortfall .analysis-value span {
  	text-align: left;
  	margin-left: 10px;
}
.analysisbargraph-widget .short-fall-up.hide,
.analysisbargraph-widget .arrow-line.hide,
.analysisbargraph-widget .short-fall-down.hide {
	display: none;
} 
.analysisbargraph-widget .analysis-value.no-shortfall {
	position: absolute;
	top: -24px;
	left: 30%;
	width: 120px;
}
.short-fall.hide {
	display: none;
}
.shortfall .short-fall {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;             
}
.short-fall {
	position: absolute;
	width: 100%;
	display: none;
	width: 119px;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.short-fall-up {
	border-top: 1px solid #FF2500;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.short-fall-down {
	border-bottom: 1px solid #FF2500;
	width: 100%;
	position: absolute;
	bottom: -5px;
	left: 0;
	z-index: 5;
}
.short-fall .arrow-line {
	text-align: center;
	height: 100%;
	position: absolute;
	left: 50%;
}
.short-fall .arrow-line .arrow-up {
	position: absolute;
	width: 0;
	top: 10px;
	left: -25px;
	height: 0;
	border-bottom: 6px solid red;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.short-fall .arrow-line .arrow-down {
	position: absolute;
	width: 0;
	bottom: 5px;
  	left: -25px;
	height: 0;
	border-top: 6px solid red;
  	border-right: 4px solid transparent;
  	border-left: 4px solid transparent;
}