body {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.content {
  background-color: #e6e6e6;
  padding: 30px;
  width: 1024px;
  height: 714px;
  margin: 0 auto;
}
/* TAB */
.ui-widget-content {
  border: none;
  background-color: #fff;
  height: 615px;
  padding: 0;
}
.ui-tabs-nav {
  background: #e6e6e6;
  border: none;
  border-radius: 0;
}
.ui-state-active, 
.ui-widget-content 
.ui-state-active, 
.ui-widget-header 
.ui-state-active {
  border: 1px solid #cbcbcb;
}
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover {
  background: #fff;
  border: 1px solid #cbcbcb;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  outline: none;
}
.ui-state-default a, 
.ui-state-default a:link, 
.ui-state-default a:visited {
  color: #000;
  font-weight: normal;
}
.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited {
  color: #000;
  font-weight: bold;
}
.ui-tabs .ui-tabs-panel {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  position: relative;
  padding: 0;
}
/* END OF TAB */
.text-label {
  display: inline-block;
  min-width: 120px;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  line-height: 2.3em;
}
.text-value {
  display: inline-block;
  float: left;
}
.text-value input[type="date"] {
  width: 174px;
}
.text-value label {
  font-weight: normal;
}
.button {
  background: #333;
  border: 1px solid #cbcbcb;
  color: #fff;
  padding: 5px;
  outline: none;
  min-width: 80px;
}
.button-cancel {
  display: inline-block;
  float: right;
}
p.error {
  display: inline-block;
  margin-left: 10px;
  color: #c91D00;
  font-size: 13px;
}
.error-field {
  border: 1px solid #c91d00;
  background-color: #f4d2cc;
}
.personal-information-view,
.personal-information-edit,
.contact-information-view,
.contact-information-edit {
  margin-top: 20px;
}
.personal-information-view > div,
.personal-information-edit > div,
.contact-information-view > div,
.contact-information-edit > div {
  margin-bottom: 20px;
} 
.personal-information-view .text-value,
.contact-information-view .text-value {
  line-height: 2.3em;
}

.personal-information-form > div,
.contact-information-form > div {
  padding: 1em 1.4em
}
.personal-information-form > div.personal-information-buttons,
.contact-information-form > div.contact-information-buttons {
  position: absolute;
  bottom: 0;
  padding: 20px 20px 0;
  height: 80px;
  border-top: 1px solid #cbcbcb;
  width: 100%;
}
input {
  width: 300px;
  padding: 5px;
}
input[type="radio"] {
  width: auto;
}
textarea {
  width: 300px;
  height: 92px;
  padding: 5px;
  resize: none;
}