#aboutUsPanel .about-company-content {
	padding: 20px;
    text-align: justify;
    float: left;
    width: 500px;
    height: 520px;
    padding-top: 0px;
    overflow: scroll;
}

#aboutUsPanel .about-company-title-value {
	padding: 10px;
}

.about-company-videos, .about-company-resources {
	float: right;
	margin-right: 20px;
}
#aboutUsPanel .about-me-licenses, #aboutUsPanel .about-me-content {
	padding: 0px 40px 20px 50px;
    text-align: justify;
}
#aboutUsPanel .about-me-name-value, #aboutUsPanel .about-me-title{
	padding: 0px 20px 0px 20px;
}

#aboutUsPanel .about-me-title{
	padding-left: 10px;
}

#aboutUsPanel .about-me-description{
	height: 530px;
    overflow: scroll;
}
