/**
*	Common css for all the components
*/

@font-face {
  font-family: Frutiger;
  src: url("./fonts/Frutiger-LT-45-Light.eot");
  src: url("./fonts/Frutiger-LT-45-Light.eot?") format("embedded-opentype"), url("./fonts/Frutiger-LT-45-Light.woff") format("woff"), url("./fonts/Frutiger-LT-45-Light.ttf") format("truetype"), url("./fonts/Frutiger-LT-45-Light.svg#Frutiger") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Frutiger-Roman;
  src: url("./fonts/Frutiger-LT-55-Roman.eot");
  src: url("./fonts/Frutiger-LT-55-Roman.eot?") format("embedded-opentype"), url("./fonts/Frutiger-LT-55-Roman.woff") format("woff"), url("./fonts/Frutiger-LT-55-Roman.ttf") format("truetype"), url("./fonts/Frutiger-LT-55-Roman.svg#Frutiger-Roman") format("svg");
  font-weight: 400;
  font-style: normal;
}

@media screen, projection {
	/* Avoid displaying popups when long-tapping anchors */
	body {
		-webkit-touch-callout: none;
	}
	
	body, h1, h3, button, .button, .normal, input, input[type="text"],
	input[type="password"],
	textarea, select, .table td, .keypad .btn-keypad, .well h2 span, .well h3 span, .wealthManagementList .arrowLinkList.plain span, .wealthManagementList
	.arrowLinkList li.plain span, .searchBox .searchTextBox, .centeredBlock div.content a, .wealthManagementList .linkList.plain span, .wealthManagementList
	.linkList li.plain span, .ulg-01 form input, .ulg-02 form input, .ulg-01 button.login, .ulg-02 button.login, .mnu-01-01 .panelAction .logoutButton p, .mnu-01-02 .panelAction .logoutButton p, .mnu-01-03 .panelAction .logoutButton p, .agentClients .searchBox .searchTextBox {
		font-family: Frutiger, Arial, Helvetica, sans-serif;
		font-weight: normal;
	}

	:lang(zh), body:lang(zh), h1:lang(zh), h3:lang(zh), button:lang(zh), .button:lang(zh), .normal:lang(zh), input:lang(zh), input[type="text"]:lang(zh), input[type="password"]:lang(zh), textarea:lang(zh), select:lang(zh), .table td:lang(zh), .keypad .btn-keypad:lang(zh), .well h2 span:lang(zh), .well h3 span:lang(zh), .wealthManagementList .arrowLinkList.plain span:lang(zh), .wealthManagementList
	.arrowLinkList li.plain span:lang(zh), .searchBox .searchTextBox:lang(zh), .centeredBlock div.content a:lang(zh), .wealthManagementList .linkList.plain span:lang(zh), .wealthManagementList
	.linkList li.plain span:lang(zh), .ulg-01 form input:lang(zh), .ulg-02 form input:lang(zh), .ulg-01 button.login:lang(zh), .ulg-02 button.login:lang(zh), .mnu-01-01 .panelAction .logoutButton p:lang(zh), .mnu-01-02 .panelAction .logoutButton p:lang(zh), .mnu-01-03 .panelAction .logoutButton p:lang(zh), .agentClients .searchBox .searchTextBox:lang(zh) {
		font-family: "STHeitiTC-Light", Arial, Helvetica, sans-serif;
	}

	h2, h4, .font-bold, .bold, .table thead tr, .keypad header h1, .badgeItem h2, .panelz header h2, .panelz .content article.placeHolder p, .panelz .textBlock p strong, .panelz.full h2, .panelz.text h3, .well h2, .well h3, .panel-nav ul li.is-active > a, .wealthManagementList .arrowLinkList.plain p, .wealthManagementList
	.arrowLinkList li.plain p, .arrowLinkList.notificationList li.is-active p, .arrowLinkList.combo a p.toolName, .wealthManagement .featureInfo .marketValue, .insuredProfile .productInfo .productName, .insuredProfile .productInfo .coverageAmount, .insuredProfile .productDetails .labelAmount, .filterList .filterListValue a, .centeredBlock div.content p, .wealthManagementList .linkList.plain p, .wealthManagementList
	.linkList li.plain p, .panelz.details article .placeHolder p, .agentProfile header h2, .ovr-01-03 h1, .ovr-01-03 h2 {
		font-family: 'Frutiger-Roman', Arial, Helvetica, sans-serif;
	}

	h2:lang(zh), h4:lang(zh), .font-bold:lang(zh), .bold:lang(zh), .table thead tr:lang(zh), .keypad header h1:lang(zh), .badgeItem h2:lang(zh), .panelz header h2:lang(zh), .panelz .content article.placeHolder p:lang(zh), .panelz .textBlock p strong:lang(zh), .panelz.full h2:lang(zh), .panelz.text h3:lang(zh), .well h2:lang(zh), .well h3:lang(zh), .panel-nav ul li.is-active > a:lang(zh), .wealthManagementList .arrowLinkList.plain p:lang(zh), .wealthManagementList
	.arrowLinkList li.plain p:lang(zh), .arrowLinkList.notificationList li.is-active p:lang(zh), .arrowLinkList.combo a p.toolName:lang(zh), .wealthManagement .featureInfo .marketValue:lang(zh), .insuredProfile .productInfo .productName:lang(zh), .insuredProfile .productInfo .coverageAmount:lang(zh), .insuredProfile .productDetails .labelAmount:lang(zh), .filterList .filterListValue a:lang(zh), .centeredBlock div.content p:lang(zh), .wealthManagementList .linkList.plain p:lang(zh), .wealthManagementList
	.linkList li.plain p:lang(zh), .panelz.details article .placeHolder p:lang(zh), .agentProfile header h2:lang(zh), .ovr-01-03 h1:lang(zh), .ovr-01-03 h2:lang(zh) {
		font-family: "STHeitiTC-Medium", Arial, Helvetica, sans-serif;
	}
	
	/* Reset Styles */
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	a {
		margin: 0;
		padding: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

	a img {
		border: none;
	}

	abbr[title], dfn[title] {
		border-bottom: 1px dotted;
		cursor: help;
	}

	/* tables still need cellspacing="0" in the markup */
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0;
	}

	input, select {
		vertical-align: middle;
		margin: 0;
	}

	input {
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	input:focus::-webkit-input-placeholder { color:transparent; }
	input:focus::-moz-input-placeholder { color:transparent; }
	input:focus:-ms-input-placeholder { color:transparent; }

	.toggle label, .pageHeader .headerMenu button, .pageHeader .headerControl button, .well input[type="button"] {
		cursor: pointer;
	}
	
	button:focus, input:focus {
	   outline: none;
	}
	/***************************************************************************/
	/* Reset Styles: END														 		 */
	/***************************************************************************/
	
	.truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.hidden {
		display: none;
	}

	.invisible {
		visibility: hidden;
	}
	
	.accessible {
		position: absolute;
		left: -9999px;
	}

	.row:after {
		visibility: hidden;
		clear: both;
		content: ".";
		height: 0;
		display: block;
	}
	
	.full-screen {
		padding: 0;
		height: 100%;
		width: 100%;
	}
	
	/************************
	* Styling for Modals
	************************/
	#pageOverlay {
		position: absolute;
		height: 100%;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		-moz-transition: opacity 0.5s ease-in-out;
		-o-transition: opacity 0.5s ease-in-out;
		-webkit-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
		z-index: 1000;
	}
	
	#pageOverlay.modal {
		visibility: visible;
		opacity: 1;
	}

	#pageOverlayBackground {
		position: absolute;
		height: 100%;
		width: 100%;
		background: #000000;
		opacity: 0.6;
		z-index: 1001;
	}

	#pageOverlayContent {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1002;
		display: table;
	}
	/***************************************************************************/
	/* Modal Styling: END														     */
	/***************************************************************************/
	
	/************************
	* Positioning
	************************/
	.pull-left {
		float: left;
	}

	.pull-right {
		float: right;
	}

	.left-align {
		text-align: left;
	}

	.right-align {
		text-align: right;
	}

	.vertically-centered {
		display: flex;
		align-items: center;
		justify-content: center;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
	}
	/***************************************************************************/
	/* Positioning: END														    	 */
	/***************************************************************************/
	
	/************************
	* Gloabl errors
	************************/
	.error input[type="text"],
	.error textarea {
		border-color: #c91d00;
		background-color: #f4d2cc;
	}
	
	.error-field,
	input.error-field,
	input.field-error,
	.error-field:focus,
	.error-field:active {
		border: 1px solid #c91d00;
		background-color: #f4d2cc;
	}
	.error {
		color: #c91d00;
		padding-left: 28px;
		position: relative;
		margin-top: 10px;
		font-family: 'Frutiger';
	}
	.error:before {
		content: '';
		background-image: url("./images/background/icon-error.png");
		width: 29px;
		height: 100%;
		background-repeat: no-repeat;
		position: absolute;
		background-size: 18px 16px;
		left: 0;
	}
	/***************************************************************************/
	/* Gloabl errors: END														    	 */
	/***************************************************************************/
	
	.scroll {
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		height: 570px;
	}
	.scroll::-webkit-scrollbar {
		width: 0px;
	}
	.scroll::-webkit-scrollbar-thumb {
		height: 6px;
		border-right: 4px solid transparent;
		background-clip: padding-box;
		-webkit-border-radius: 4px 8px 8px 4px;
	}
	.scroll::-webkit-scrollbar-button {
		width: 0;
		height: 0;
		display: none;
	}
	.scroll::-webkit-scrollbar-corner {
		background-color: transparent;
	}
	
	/************************
	* Panels
	************************/
	.panelz.thin {
		width: 308px;
	}
	.panelz.wide {
		width: 623px;
	}
	.panelz.right {
		margin-left: 8px;
	}
	.panelz.left {
		margin-right: 8px;
	}
	
  	/************************
	* Inputs
	************************/
	input[type="text"], input[type="password"], textarea, select, input {
		font-size: 15px;
		padding: 0 15px;
		border: 1px solid #e5e5e5;
		background: #f5f5f5;
		line-height: 45px;
		height: 45px;
		text-align: left;
		outline: none;
		color: #333333;
		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-transform-style: flat;
		-webkit-appearance:none;
		-moz-appearance: none;
	}
	textarea:focus, input:focus {
	  	border: 1px solid #e5e5e5;
	  	background: #f5f5f5;
	}
	select {
		width: 268px !important;
		background: url('../images/down-arrow-green.png') 242px center no-repeat #f5f5f5;
		-moz-appearance: none;
		-webkit-appearance:none;
	}
	select:focus {
		background: url('../images/up-arrow-green.png') 242px center no-repeat #f5f5f5;
	}
	.input-cp-small {
		width: 70px !important;
		text-align: right;
	}
	.input-cp-medium {
		width: 125px !important;
	}
	.input-cp-large {
		width: 268px !important;
	}
	.input-cp-age {
		width: 68px !important;
	}
	input[type="text"]:read-only, 
	input[type="number"]:read-only,
	input.transparent {
		border-color: transparent !important;
  		background: transparent !important;
  		opacity: 10;
  		color: #000;
	}
	input[type="text"]:readonly {
	border-color: transparent;
  		background: transparent;
  		opacity: 10;
  		color: #000;
	}
	input[type=radio] {
		display:none; 
		margin:10px;
		color: #333333;
	}
	input[type=radio] + label {
		display: inline-block;
		margin: 0;
		padding: 10px;
		background-color: #eaeaea;
		border: 1px solid transparent;
		cursor: pointer;
		text-align: center;
		min-width: 55px;
		float: left;
		margin-right: 1px;
		-webkit-backface-visibility: hidden;
	   	-webkit-transform: translateZ(0);
	   	-webkit-transform-style: preserve-3d;
	   	-webkit-tap-highlight-color: transparent;
	}
	input[type=radio]:checked + label,
	.radiochecked { 
		background-color: #fdf7e7; 
		border: 1px solid #eeb111;
		-webkit-background-color: #fdf7e7; 
		-webkit-border: 1px solid #eeb111;
	}
	.multi-choice-question {
	  display: block;
	  position: relative;
	  width: auto;
	}
	.multi-choice-question label {
	  line-height: 20px;
	  padding: 12px 10px 12px 38px;
	  cursor: pointer;
	  display: block;
	  background: #f5f5f5;
	  color: #000;
	  text-align: left;
	  border: 1px solid #e5e5e5;
	  position: relative;
	  z-index: 2;
	}
	.multi-choice-question label.small {
		width: 189px;
	}
	.multi-choice-question label.large {
		width: 385px;
	}
	.multi-choice-question input[type="checkbox"] {
	  opacity: 0;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  -khtml-opacity: 0;
	  -moz-opacity: 0;
	  position: absolute;
	  z-index: 0;
	  visibility: hidden;
	}
	.multi-choice-question input[type="checkbox"]:checked + label {
	  background: #fdf7e7;
	  color: #000;
	  border: 1px solid #eeb111;
	}
	.multi-choice-question input[type="checkbox"]:checked + label:before {
  		background-position: -75px 0px;
	}
	.multi-choice-question label:before {
	  content: '';
	  background-image: url("../images/sprites@2x.png");
	  background-repeat: no-repeat;
	  background-size: 300px 200px;
  	  background-position: -50px 0px;
	  display: block;
	  width: 15px;
	  height: 15px;
	  position: absolute;
	  left: 13px;
	  z-index: 1;
	  top: 14px;
	}
	
	/* ==========================================================================
	BAR GRAPH
	========================================================================== */

	.bargraph-title {
		font-size: 18px;
		font-weight: normal;
		margin: 20px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 0px;
		text-align: center;
	}
	.graph-bar {
		position: relative;
		height: 440px;
		width: 75px;
		margin: 25px auto 0;
		background-color: #eaeaea;
	}
	.graph-bar .item-bargraph {
		position: absolute;
		bottom: 0;
		width: 75px;
		margin-left: -37px;
		left: 50%;
		-webkit-transform: translate3d(0,0,0);
		-webkit-transition: height 1s, -webkit-transform 1s;
		transition: height 1s, transform 1s;
	}
	.analysisbargraph-widget .graph-bar .item-bargraph {
		left: 49%;
	}
	.graph-item {
		position: relative;
	}
	.graph-item .item-value {
		font-size: 1.5em;
		color: #333333;
		text-align: center;
		margin: 15px 0px;
		position: absolute;
		width: 100%;
		left: 0;
		font-family: 'Frutiger-Roman';
	}
	.analysisbargraph-widget {
		width: 100%;
		position: relative;
	} 
	.analysisbargraph-widget .shortfall {
		position: relative;
		float: left;
		padding-left: 42px;
		height: 500px
	}
	.analysisbargraph-widget .tds-view .bargraph-title {
		color: #FF2500;
		font-family: 'Frutiger-Roman';
		font-size: 1.5em;
		text-align: center;
		width: 90px;
		margin: 5px 0 0 0;
		position: relative;
		left: -5px;
		word-wrap: break-word;
	}
	.analysisbargraph-widget .tds-view .bargraph-title span {
		font-family: 'Frutiger';
		display: block;
	}
	.analysisbargraph-widget .tds-view .bargraph-title {
		visibility: hidden;
	}
	.analysisbargraph-widget .shortfall.tds-view .bargraph-title {
		visibility: visible;
	}
	.analysisbargraph-widget .graph-bar {
		margin-right: 44px;
		margin-top: 25px;
		height: 421px;
	} 
	.analysisbargraph-widget .graph-bar.mtop50 {
		margin-top: 5px;	
	}
	.analysisbargraph-widget .target-amt {
		position: relative;
		float: left;
	}
	.analysisbargraph-widget .component-amt {
		position: absolute;
		float: left;
		z-index: 5;
		right: 26px;
	}
	.analysisbargraph-widget .component-amt .graph-bar {
		background-color: transparent;
	}
	.analysisbargraph-widget .component-amt .item-value {
		display: none;
	}
	.analysisbargraph-widget .item-value {
		margin: 15px 0 0 0;
		font-family: 'Frutiger-Roman';
		font-size: 1.5em;
		text-align: center;
		position: relative;
		left: -22px;
		width: 120px;
		word-break: break-word;
	}
	.analysisbargraph-widget .item-value .label {
		font-family: 'Frutiger';
	}
	.analysisbargraph-widget .analysis-value {
		color: #FF2500;
		font-family: 'Frutiger-Roman';
		font-size: 1.5em;
		text-align: center;
		position: relative;
		left: -23px;
		width: 120px;
		word-wrap: break-word;
	}
	.analysisbargraph-widget .analysis-value span {
		font-family: 'Frutiger';
		display: block;
	}
	.small-shortfall .analysis-value {
		top: -40px;
		position: absolute;
		text-align: left;
		width: 237px;
		padding-left: 23px;
	}
	.small-shortfall .analysis-value span {
		text-align: left;
		margin-left: 10px;
	}
	.analysisbargraph-widget .short-fall-up.hide,
	.analysisbargraph-widget .arrow-line.hide,
	.analysisbargraph-widget .short-fall-down.hide {
		display: none;
	} 
	.analysisbargraph-widget .analysis-value.no-shortfall {
		position: absolute;
		top: -24px;
		left: 30%;
		width: 120px;
	}
	.short-fall.hide {
		display: none;
	}
	.shortfall .short-fall {
		display: -webkit-box;      
		display: -moz-box;         
		display: -ms-flexbox;      
		display: -webkit-flex;     
		display: flex;             
	}
	.short-fall {
		position: absolute;
		width: 100%;
		display: none;
		width: 119px;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.short-fall-up {
		border-top: 1px solid #FF2500;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
	}
	.short-fall-down {
		border-bottom: 1px solid #FF2500;
		width: 100%;
		position: absolute;
		bottom: -5px;
		left: 0;
		z-index: 5;
	}
	.short-fall .arrow-line {
		text-align: center;
		height: 100%;
		position: absolute;
		left: 50%;
	}
	.short-fall .arrow-line .arrow-up {
		position: absolute;
		width: 0;
		top: 10px;
		left: -25px;
		height: 0;
		border-bottom: 6px solid red;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}
	.short-fall .arrow-line .arrow-down {
		position: absolute;
		width: 0;
		bottom: 5px;
		left: -25px;
		height: 0;
		border-top: 6px solid red;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}
	.educ-disclaimer,
	.analysis-disclaimer {
		line-height: 1.2em;
		margin-bottom: 20px;
		font-size: 12px;
	}
	.educ-disclaimer span.line,
	.analysis-disclaimer span.line {
		display: block;
		border-top: 1px solid #F5F5F5;
		text-align: center;
		margin: 0 100px 20px 100px;
	}
	/* ==========================================================================
	CALCULATOR NAV MODAL
	========================================================================== */
	.protection-needs-calc .cp-side-panel .panel-content {
		padding: 0;
	}
	.navigation-modal {
		background-color: #fff !important;
		font-family: 'Frutiger';
		font-size: 1.5em;
	}
	.navigation-modal .navilink {
		position: relative;
		display: block;
		padding: 19px 43px 19px 25px;
		text-decoration: none;
		color: #333;
		border-bottom: 1px solid #f5f5f5;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		cursor: pointer;
	}
	.navigation-modal .navilink:hover {
		background-color: #cacccc;
	}
	.navigation-modal .navilink.title:hover {
		background-color: #fff;
	}
	.navigation-modal .navilink.title {
		cursor: default;
		font-family: "Frutiger-Roman";
	}
	.navigation-modal .navilink:after {
		content: '';
		width: 12px;
		height: 20px;
		background-image: url("../images/chevron.png");
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -10px;
	}
	.navigation-modal .navilink:hover:after,
	.navigation-modal .navilink.title:after {
		background-image: none;
	}
}