/* ==========================================================================
   PAGE STEP
   ========================================================================== */
.page-container-slide {
	float:left; /* important for inline positioning */
	width:1024px; /* important (this width = width of list item(including margin) * items shown */ 
	overflow: hidden;  /* important (hide the items outside the div) */
	height: 578px;
	padding: 35px 0 0 0;
}
#container .page-container-slide {
	padding: 0;
}
.page-container-slide .calc-page-wrap {
  position: relative;
  padding-left: 42px;
  padding-right: 42px;
  width: 940px;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}
.page-container-slide .calc-page-wrap .cp-side-panel .panel-content {
	overflow-y: scroll;
	overflow-x: hidden;
	height: inherit;
	-webkit-overflow-scrolling: touch;
}
.page-container-slide .calc-page-wrap .cp-side-panel .panel-content::-webkit-scrollbar {
	width: 0px;
}
.page-container-slide .cp-panel,
.page-container-slide .cp-side-panel {
	height: 564px;
	-moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  	box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}
.page-container-slide .calc-page-wrap .cp-panel {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	width: 624px;
	margin-right: 8px;
	background-color: #fff;
}
.page-container-slide .calc-page-wrap .cp-side-panel {
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);	
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	width: 308px;
	margin-right: 0;
}
.page-container-slide ul {
	position:relative;
	left:0; /* important (this should be negative number of list items width(including margin) */
	list-style-type: none; /* removing the default styling for unordered list items */
	margin: 0px;
	padding: 0px;
	width:9999px; /* important */
}
.page-container-slide ul li.step-page{
	float: left; /* important for inline positioning of the list items */                                    
	width: 1024px;  /* fixed width, important */
}
.page-next, .page-prev{
	/*height: 20px;
	width: 10px;
	background-color: #00693c;
	padding: 10px;*/
	cursor: pointer;
	position: absolute;
	line-height: 30px;
	top: 50%;
	z-index: 5;
}
.page-next:active, .page-prev:active {
	background-color: #979999;
}
.page-prev {
	left: 0;
}
.page-next {
	right: 0;
}

.page-prev span {
    background-image: url(images/icon-arrow-left.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    background-size: 50px 50px;
}
.page-next span {
    background-image: url(images/icon-arrow-right.png);
    background-position: right top;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    background-size: 50px 50px;
}
.page-view-slide {
	position: relative;
	height: 620px;
	padding-left: 50px;
    padding-right: 50px;
}
.step-view {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 61px;
	border-top: 1px solid #cacccc;
	text-align: center;
	-webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.2);
	background: #f5f5f5;
	z-index: 6;
}
.step-bar {
	margin: 12px auto;
	text-align: center;
	font-family: 'Frutiger', Arial;
	font-size: 1.5em;
	position: relative;
}
.step-bar button {
	position: absolute;
	left: 10px;
	top: -1px;
	font-size: 1em;
	display: none;
}
.status-bar {
	background-color: #cacccc;
	width: 307px;
	height: 10px;
	margin: 5px auto;
	border-radius: 20px;
}
.status-bar span {
	background-color: #eeb111;
	display: inherit;
	height: 10px;
	-webkit-transition: width 1s;
	transition: width 1s;
	-webkit-border-radius: 25px 0 0 25px;
	-moz-border-radius: 25px 0 0 25px;
	-ms-border-radius: 25px 0 0 25px;
	-o-border-radius: 25px 0 0 25px;
	border-radius: 25px 0 0 25px;
}
.status-bar span.last {
	-webkit-border-radius: 25px;
	 -moz-border-radius: 25px;
	 -ms-border-radius: 25px;
	 -o-border-radius: 25px;
	 border-radius: 25px;
}
.step-label {
	font-size: 12px;
	cursor: pointer;
	max-width: 330px;
	margin: 0 auto;
}
.step-view .up-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	margin-left: 12px;
	border-bottom: 7px solid #00693c;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.step-view .up-arrow.down-arrow {
	border: none;
	width: 0;
	height: 0;
	border-top: 7px solid #00693c;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
/* .step-bar .step-tracker {
	display: none;
} */
.step-view .footer-menu.showed {
	-webkit-box-shadow: -4px -8px 23px rgba(0, 0, 0, 0.1);
	box-shadow: -4px -8px 23px rgba(0, 0, 0, 0.1);
}
.step-view .footer-menu {
	position: absolute;
	bottom: 62px;
	left: 50%;
	margin-left: -155px;
	max-width: 310px;
	width: 100%;
	max-height: 0;
	background: #fff;
	overflow: hidden;
	-webkit-box-shadow: none;
	box-shadow: none;
	z-index: 5;
	-moz-transition: all 0.3s cubic-bezier(0.4, 0.03, 0.58, 0.97) 0s;
	-webkit-transition: all 0.3s cubic-bezier(0.4, 0.03, 0.58, 0.97) 0s;
	-o-transition: all 0.3s cubic-bezier(0.4, 0.03, 0.58, 0.97) 0s;
	-ms-transition: all 0.3s cubic-bezier(0.4, 0.03, 0.58, 0.97) 0s;
	transition: all 0.3s cubic-bezier(0.4, 0.03, 0.58, 0.97) 0s;
}
.step-view .footer-menu .step-tracker {
  list-style: none;
  text-align: left;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 5;
  padding: 0;
    margin: 0;
}
.step-view .footer-menu .step-tracker::-webkit-scrollbar {
	width: 0px;
}
.step-view .footer-menu .step-tracker li:first-child {
  border: none;
}
.step-view .footer-menu .step-tracker li {
  position: relative;
  font-size: 15px;
  padding: 20px;
  background: #ffffff;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
  -webkit-tap-highlight-color: transparent;
}
.step-view .footer-menu .step-tracker li:hover {
	background: #cacccc;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-webkit-transform-style: preserve-3d;
	-webkit-tap-highlight-color: transparent;
 }
.step-view .footer-menu .step-tracker li:hover:before {
	background: #cacccc;
}
.step-view .footer-menu .step-tracker li:hover + li, 
.step-view .footer-menu .step-tracker li.selected + li {
  border-top-color: transparent;
}
.step-view .footer-menu .step-tracker li.selected {
  background: #fdf7e7;
  border-color: transparent;
  font-family: "Frutiger-Roman";
}
.step-view .footer-menu .step-tracker li.selected:before {
  content: '';
  width: 5px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  background: #eeb111;
  position: absolute;
  top: 0;
  left: 0;
}