/* GTKY */
body {
	margin: 0;
}
.gtkyContent {
  background-color: #e6e6e6;
  padding: 30px;
  width: 1024px;
  height: 714px;
  margin: 0 auto;
}

.row{
	    margin-left: 10px;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.personalInfo-gender span.personalInfo-gender-value,
.dependent-personalInfo-gender span.dependent-personalInfo-gender-value{
	width: 178px;
}

.personal-info-content > div,
.dependent-personal-info-content > div,
.contact-info-content > div,
.view-mode > div {
    margin-bottom: 15px;
    height: 30px;
    line-height: 30px;
    margin-left: 1%;
}
.personal-info-content > div > span,
.dependent-personal-info-content > div > span,
.contact-info-content > div > span,
.view-mode > div > span {
    display: inline-block;
    min-width: 120px;
    /* font-weight: bold; */
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    float: left;
    /* margin-right: 20px; */
    line-height: 2em;
    font-size: 1em;
}
.row span{
	margin-bottom: 20px;
	margin-left: 1.5%;
    display: inline-block;
    width: 110px;
}

h4{
	margin-left: 1%;
}

div.dependent-header.row {
	margin-left: 0px
}
span.dependents-info-heading {
	width: 190px;
    margin-left: 0;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#genInfoFirstPanelView, #genInfoFirstPanelEdit{
	float: left;
    width: 50%;
    padding-left: 20px;
    padding-top: 10px;
}

#genInfoSecondPanelEdit, #genInfoSecondPanelView{
	float: right;
    width: 45%;
    margin: 10px;
}

#child-tabs div, #child-tabs,
#child-tabs-view div, #child-tabs-view{
	height: inherit;
}

#numOfChildren .dependents-numOfChildren-value {
	/* margin-left: 70px; */
}

#numOfChildren label,
.personalInfo-gender label,
.dependent-personalInfo-gender label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
    font-size: 13px;
}

.personalInfo-gender input[type=radio],
.dependent-personalInfo-gender input[type=radio],
#numOfChildren input[type=radio] {
    /* display: none; */
}

 #numOfChildren label:before,
 .personalInfo-gender label:before,
 .dependent-personalInfo-gender label:before{
    /* content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); */
}

#numOfChildren label:before,
 .personalInfo-gender label:before,
 .dependent-personalInfo-gender label:before{
    /* border-radius: 8px; */
}

#numOfChildren input[type=radio]:checked + label:before,
 .personalInfo-gender input[type=radio]:checked + label:before,
 .dependent-personalInfo-gender input[type=radio]:checked + label:before {
    /* content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 14px; */
}

input.contactInfo-workAddress-value {	
    margin-left: 6px;	
}

.general-information-buttons,
.financial-information-buttons{
	position: absolute;
    bottom: 0;
    padding: 14px 20px 0;
    height: 65px;
    border-top: 1px solid #cbcbcb;
    width: 100%;
}

.button {
  background: #333;
  border: 1px solid #cbcbcb;
  color: #fff;
  padding: 5px;
  outline: none;
  min-width: 80px;
}
.button-cancel {
  display: inline-block;
  float: right;
}

/* Error Input */
.error {
    color: #FF0000;
    margin: -15px;
    padding-left: 10px;
    float: left;
    position: relative;
    left: 192px;
    top: 20px;
    width: 180px;
    font-size: 13px;
    line-height: 13px;
}
.dependent-personal-info p.error {
    top: 15px;
    width: 120px;
    line-height: 14px;
    left: 15px;
}
/* .dependent-personalInfo-DOB-value p.error {
    top: 25px;
} */
.dependent-personal-info input[type='text'], 
.dependent-personal-info input[type='date'], 
.dependent-personal-info input[type='number'] {
    float: left;
}

.financial-information-panel {
	margin: 20px 10px;
}

.financial-information-panel .monthly-income-range, 
.financial-information-panel .occupation-field, 
.financial-information-panel .age-fields-range {
	margin-top: 10px;
}

.financial-information-panel .detail-panel {
	width: 50%;
	padding: 0px 10px 10px 25px;
	float: left;
}

.financial-information-panel .graph-panel {
	width: 35%;
	float: right;
	
}
.financial-information-panel .graph-bar + .item-value {
	text-align: center;
}

.financial-information-panel .age-fields-range #age-range-text,
.financial-information-panel .age-fields-range #targetage-range-text {
	width: 25px;
}

.financial-information-panel .target-age-input {
	float:right;
}

.financial-information-panel .field-container {
	margin-top:25px;
}

.financial-information-panel .noUi-target {
	margin: 10px;
}

/* #genInfoSecondPanelEdit .dependent-personalInfo-surname-value .error,
#genInfoSecondPanelEdit .dependent-personalInfo-givenName-value .error,
#genInfoSecondPanelEdit .dependent-personalInfo-DOB-value .error,
#genInfoSecondPanelEdit .dependent-personalInfo-gender-value .error{
	width: 90%;
} */

#genInfoSecondPanelEdit .dependent-personalInfo-gender-value .error{
/* 	width: 70px; */
	top: -15px;	
    left: 136px;
}

.error-mask {
    background-color: #FF0000;
}

.error-field {
    border: 1px solid #c91d00;
    background-color: #f4d2cc;
}

.personalInfo-gender span.personalInfo-gender-value + .error,
.dependent-personalInfo-gender span.dependent-personalInfo-gender-value + .error{
	top: -28px;
    left: 318px;
}

/* TAB */
.ui-widget-content {
  border: none;
  background-color: #fff;
  height: 615px;
  padding: 0;
}
.ui-tabs-nav {
  background: #e6e6e6;
  border: none;
  border-radius: 0;
}
.ui-state-active, 
.ui-widget-content 
.ui-state-active, 
.ui-widget-header 
.ui-state-active {
  border: 1px solid #cbcbcb;
}
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover {
  background: #fff;
  border: 1px solid #cbcbcb;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  outline: none;
}
.ui-state-default a, 
.ui-state-default a:link, 
.ui-state-default a:visited {
  color: #000;
  font-weight: normal;
}
.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited {
  color: #000;
  font-weight: bold;
}
.ui-tabs .ui-tabs-panel {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  position: relative;
  padding: 0;
}
/* END OF TAB */

/* Dropdown */
#contactInfo-country .dropdownValue {	
    width: 175px;
}
