/**
* Default CSS for SlidePagePanelView
*/

.slide-arrow{
	height: inherit;
	cursor: pointer;
	position: absolute;
	top: 0px;
}

.slide-panel{
	width: inherit;
    height: inherit;
	position: absolute;
	top: 0px;
}

.content-widget{
	height: inherit;
}

.scroll{
	overflow-y: scroll;
}
