/**
* Default CSS for DragAndDrop
*/

.item-area {
	height: 20%;
}

.item-container {
	width: 140px;
    height: 100%;
    text-align: center;
	float: left;
}

.item-icon {
	width: inherit;
    height: 80%;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 63px 63px;
}

.stage-area {
	height: 80%;
}

.stage-area .title {
	display:block;
	text-align: center;
	height: 10%;
	line-height: 45px;
}

.selection-container {
	height: 90%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disable-option {
	opacity: 0.3;
}
