/**
* Default CSS for Dropdown List
*/

.navigation-modal {
	background-color: #fff !important;
	font-family: 'Frutiger';
	font-size: 1.5em;
}
.navigation-modal .navilink {
	position: relative;
	display: block;
	padding: 19px 43px 19px 25px;
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #f5f5f5;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}
.navigation-modal .navilink:hover {
	background-color: #cacccc;
}
.navigation-modal .navilink.title:hover {
	background-color: #fff;
}
.navigation-modal .navilink.title {
	cursor: default;
	font-family: "Frutiger-Roman";
}
.navigation-modal .navilink:after {
	content: '';
	width: 12px;
	height: 20px;
	/* background-image: url("../images/chevron.png"); */
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -10px;
}
.navigation-modal .navilink:hover:after,
.navigation-modal .navilink.title:after {
	background-image: none;
}