/**
* Default CSS for ButtonRange
*/

.pos-left {
	float: left;
}

.errmsg-buttonrange {
	color: #f00;
}

.has-error {
	border: 1px solid #c91d00 !important;
    background-color: #f4d2cc !important;
}

.minus-button, .plus-button {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    background: #00693c;
	border: none;
    color: #fff;
	cursor: pointer;
    font-size: 18px;
    height: 25px;
    line-height: 23.5px;
	margin-top: 10px;
	outline: none;
    text-align: center;
    user-select: none;
    width: 25px;
    vertical-align: middle;
}

.minus-button:active, 
.plus-button:active, 
.minus-button.disable,
.plus-button.disable  {
    background-color: #979999;
}

.minus-button {
	margin-right: 10px;
}

.plus-button {
	margin-left: 10px;
}

.text-button-range {
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform-style: flat;
	-webkit-appearance:none;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	color: #333333;
	font-size: 15px;
	height: 45px;
	line-height: 45px;
	outline: none;
	padding: 0 4px;
    text-align: right;
	width: 70px;
}

.transparent {
	border-color: transparent;
    background: transparent;
    opacity: 10;
    color: #000;
}
    