body {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
}
.content {
  background-color: #e6e6e6;
  padding: 30px;
  width: 1024px;
  height: 714px;
  margin: 0 auto;
}
.customer-lists {
  width: 500px;
  border: 1px solid #cbcbcb;
  padding: 20px;
  height: 638px;
  background-color: #fff;
  overflow: scroll;
}
.customer-data {
	border: 1px solid #cbcbcb;
	min-height: 64px;
	padding: 10px;
	margin-bottom: 14px;
	cursor: pointer;
}
.customer-data .image {
  float: left;
  width: 42px;
  height: 42px;
  border: 1px solid #cbcbcb;
}
.customer-data .image img {
  width: 42px;
}
.customer-data .name {
	font-size: 16px;
	font-weight: bold;
}
.customer-data .mobile {
	background: url("images/mobile-icon.png") scroll no-repeat 0 0 transparent;
	margin-bottom: 10px;
}
.customer-data .email {
	background: url("images/email-icon.png") scroll no-repeat 0 0 transparent;
}
.customer-data .mobile,
.customer-data .email {
    text-align: left;
    height: 24px;
    width: auto;
    line-height: 24px;
    padding-left: 30px;
}
.customer-data .left {
	float: left;
    margin-left: 10px;
    margin-top: 7px;
}
.bottom-shadow {
  border-bottom: 2px solid #d1d1d1;
  width: 500px;
}
.customer-panel {
  float: left;
}
.dashboard-panel-right {
  float: left;
  margin-left: 64px;
}
.videos-panel,
.resources-panel,
.notification-panel {
  width: 400px;
  border: 1px solid #cbcbcb;
  /* padding: 20px; */
  height: 200px;
  background-color: #fff;
  margin-bottom: 20px;
}
