/* Resource Panel */
.resource-holder {
	background-image: url(images/resources-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
