/**
* Default CSS for Dropdown List
*/

.dropdown {
	position: relative;
}
.dropdown .dropdownValue {
    height: 35px;
    line-height: 35px;
    width: 300px;
	color: #000;
    max-width: 300px;
    border: 1px solid #adaaad;
    cursor: pointer;
    background: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    padding-left: 10px;
    padding-right: 40px;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}
.dropdown.isDropdownActive .dropdownValue {
	/*background-image: url('../../../ui/images/up-arrow-green.png');*/
	margin: 0;
}
.dropdown ul{
	border-left: 1px solid #adaaad;
	border-right: 1px solid #adaaad;
  	width: 300px;
  	list-style: none;
  	position: absolute;
  	max-height: 160px;
  	overflow-y: scroll;
  	overflow-x: hidden;
  	-webkit-overflow-scrolling: touch;
  	background-color: #fff;
  	z-index: 100;
	padding: 0;
  	margin: 0;
}
.dropdown ul::-webkit-scrollbar {
		width: 0px;
}
.dropdown ul li {
    padding: 0 10px;
    color: #000;
    vertical-align: middle;
    cursor: pointer;
    border-bottom: 1px solid #adaaad;
    height: 35px;
    line-height: 35px;
    -webkit-tap-highlight-color: transparent;
}
.dropdown ul li:hover{
	background-color: #EAEAEA;
	cursor: pointer;
}

.dropdown .selected	{
	background-color: #EAEAEA;
}